<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <b>Generate Password</b>&nbsp;
    <a href="/add_credential">Save New Credentials</a>
    <br>
    <br>
    <form action="generate_password" method="post">
        <label for="password_length">Enter Length of Password</label> <input type="number" name="password_length"><br>
        <input type="checkbox" name="is_lower_included"><label for="is_lower_included">Include lower</label> <br>
        <input type="checkbox" name="is_number_included"><label for="is_number_included">Include number</label> <br>
        <input type="checkbox" name="is_upper_included"><label for="is_upper_included">Include upper</label> <br>
        <input type="checkbox" name="is_symbol_included"><label for="is_symbol_included">Include other symbols</label> <br>
        <input type="submit" value="Generate Password">
    </form>
    {% if password %}
        <p> Generated Password: <pre> <code>{{password}} </code></pre> </p>
    {% endif %}
</body>
</html>