
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Generate Password</title>
</head>
<body>
    <b>Geneate Password</b>
    <a href="/add_credential">New Credential</a>
    <br>
    <br>
    <form action="/generate_password" method="POST">
        <label for="password_length">Enter length of Password</label>
        <input type="number" name="password_length"> <br>
        <input type="checkbox" name="is_lower_included"><label for="is_lower_included">Lower Included</label><br>
        <input type="checkbox" name="is_number_included"><label for="is_number_included">Number Included</label><br>
        <input type="checkbox" name="is_upper_included"><label for="is_upper_included">Upper Included</label><br>
        <input type="checkbox" name="is_symbol_included"><label for="is_symbol_included">Symbol Included</label><br>
        <input type="submit" value="Generate Password">
    </form>
    {% if password %}
        <p>The generated password: {{password}}</p>
    {% endif %}
</body>
</html>