
<!DOCTYPE html>
<html lang="en">
<head>
    <title>List Credential </title>
</head>
<body>
    <a href="/generate_password">Geneate Password</a>
    <a href="/add_credential">New Credential</a>
    <b>List Credential</b>
    <br>
    <br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Category</th>
            <th>Notes</th>
        </tr>
        
    {% for credential in credentials %}
        <tr>
            <td>{{credential.name}}</td>
            <td>{{credential.username}}</td>
            <td>{{credential.password}}</td>
            <td>{{credential.category_name}}</td>
            <td>{{credential.notes|truncate(50)}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>