
<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Credential </title>
</head>
<body>
    <a href="/generate_password">Geneate Password</a>
    <b>New Credential</b>
    <br>
    <br>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form action="/add_credential" method="POST">
        <label for="name">Enter name of Credential*</label>
        <input type="text" name="name" maxlength="50"> <br>
        <label for="username">Enter username*</label>
        <input type="text" name="username" maxlength="50"> <br>
        <label for="password">Enter password*</label>
        <input type="text" name="password" maxlength="50"> <br>
        <label for="category">Enter category </label>
        <input type="text" name="category" maxlength="50"> <br>
        <label for="notes">Add notes</label>
        <textarea name="notes"></textarea> <br>
        <!-- <input type="submit" value="Save"> -->
        <button>Save</button>
    </form>
    
</body>
</html>